
/* this makes it possible to add next button beside scrollable */
.scrollable {
	float:left;	
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
	
	display:block;
	width:30px;
	height:30px;
	float:left;
	margin:100px 0px;
	cursor:pointer;
	font-size:1px;
}


/* right */
/* a.right 				{background:url(../images/hori_large.png) no-repeat;} */


/* left */
/*a.left				{ background:url(../images/hori_large.png) no-repeat; } */


/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
} 	
.scrollable {
	/* required settings */
	position:relative;
	overflow:hidden;
	width: 360px;
	height:80px;	
}
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}
.items div {
	float:left;
	width:900px;
}
/* single scrollable item */
.scrollable img {
	float:left;
	margin:0px 10px 0px 5px;
	background-color:#fff;
	padding:2px;
	border:1px solid #ccc;
	width:100px;
	height:75px;
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
/* active item */
.scrollable .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}
