.MainPhotoContainer
{
	float: left;
	background-image: url( '../images/PhotoStructure456.png' );
	background-repeat: no-repeat;
	width: 690px;
	height: 300px;
}
.ExpressIntereestContainer
{
	float: left;
	background-image: url( '../images/ExpressInerestBg.png' );
	background-repeat: no-repeat;
	width: 650px;
	height: 283px;
}
.PhotouserId
{
	float:left;
	padding-left: 105px;
	padding-top: 18px;
	color: #33CCFF;
	font-family: calibri;
	font-size: large;
	font-weight: bold;
	width:100px;
}

.PhotoMenubarExpressInterest
{
	float: left;
	width: 346px;
	padding-top: 13px;
	padding-left: 25px;
	font-family: Calibri;
	font-size: small;
	color: #333333;
}
.PhotoMenubar
{
	float:left;
	width:500;
	padding-top:10px;
	padding-left:35px;
}
.PhotoSingleMenu
{
	float: left;
	width: 113px;
	color: #808080;
	font-family: Calibri;
	padding-left:2px;
	
}
.PhotoSingleMenu a
{
	list-style-type: none;
	font-family: Calibri;
	color: #858585;
	display: inline-block;
	position: relative;
	text-decoration: none;
	font-size: 14px;
	padding-top:3px;
}
.PhotoSingleCenter
{
	float: left;
	width: 105px;
	color: #808080;
	font-family: Calibri;
	padding-left:6px;
}
.Photo
{
	float:left;
	padding-left:41px;
	padding-top:32px;
	width:160px;
}
.PhotoInfo
{
	float:left;
	width:420px;
	padding-top:30px;
	
}
.Column
{
	float: left;
	font-family: Calibri;
	color: #333333;
	width: 90px;
	font-size: 12px;
	padding-left:1px;
}
.ColumnX
{
	float: left;
	font-family: Calibri;
	color: #333333;
	
	font-size: 12px;
	padding-left:1px;
}
.Column2
{
	float: left;
	padding-left: 130px;
	font-family: Calibri;
	color: #333333;
	width: 27%;
	font-size: 12px;
}
.photoAboutMe
{
	float: left;
	width: 410px;
	padding-left: 10px;
	padding-top: 11px;
	color: #B1B1B1;
	font-family: calibri;
	font-size: 12px;
	height:70px;
}
.MessageSucess
{
		
	font-family: Verdana;
	color: #66CCFF;
	width:400px;
}
.MessageSucess2
{
	
	font-family: Verdana;
	color: #FF0000;
	width: 400px;
}
.PhotoName
{
	float: left;
	padding-left: 65px;
	padding-top: 10PX;
	width: 120px;
	font-family: Verdana;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
}
.PhotoLeftBox
{
	float:left;
	width:210px;
}
.ColumnHeader
{
	float: left;
	font-family: Calibri;
	color: #006F93;
	font-size: 13px;
	width: 20%;
	font-weight: bold;
}
.ColumnHeader34
{
	float: left;
	font-family: Calibri;
	color: #006F93;
	font-size: 13px;
	width: 15%;
	font-weight: bold;
}
.LinkUserId
{
	font-family: Calibri;
	color: #006F93;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
.AboutMySelf
{
	float:left;
	font-family : Calibri;
	color: #333333;
	width: 290px;
	font-size: 12px;
	padding-left:13px;
	padding-top:0px;
	height:5px;
}
/*--------------------------------------------------------------------------------------------------------*/

/* HEADER */
#header { height:240px;float :left; width:467px  }
.headerimg
{
	background-position: left top;
	background-repeat: no-repeat;
	width: 467px;
	height: 240px;
	position: absolute;
}
.Example
{
	float:left;
	width:467px;
}